doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Exámenes
    link(rel="stylesheet" href="/stylesheets/style.css")

  body
    #cabecera
      img(src='/images/banner.png', alt='Logo del laboratorio')
    #botones
      button#botonInicio.custom-button Inicio
      button#botonBuscarPaciente.custom-button Buscar Paciente
      button#botonAgregarPaciente.custom-button Agregar Paciente
      button#botonAgregarOrden.custom-button Agregar Orden
      button#botonBuscarOrden.custom-button Buscar Orden
      button#botonExamenes.custom-button Examenes
      button#botonSalir.custom-button Salir

    h2 Búsqueda de Exámenes
    form#buscador(action='/rutaExamenes/buscarExamenes', method='GET')
      p Ingrese nombre del exámen:
      input(type='text', name='busqueda')
      button(type='submit') Buscar

    

    

            script(src='https://code.jquery.com/jquery-3.6.0.min.js')

    h2 Nuevo Examen
    form#formularioNuevoExamen(action='/rutaExamenes/crearExamenes', method='POST')
      p
        | Nombre del Examen:
        input(type='text', name='nombreExamen', placeholder='Ingrese el nombre del examen')
      
      p
        | Determinaciones:  
        div#determinaciones-checkboxes
        script.
          $(document).ready(function() {
            $.ajax({
              url: '/rutaExamenes/determinaciones',
              method: 'GET',
              dataType: 'json',
              success: function(data) {
                console.log(data);
                // Crea checkboxes para cada determinación
                const determinacionesCheckboxes = $('#determinaciones-checkboxes');
                data.forEach(function(determinacion) {
                  const checkbox = $('<input>').attr({
                    type: 'checkbox',
                    name: 'determinaciones',
                    value: determinacion.id_determinacion, // Debes usar un valor único, como el ID de la determinación
                  });
                  const label = $('<label>').text(determinacion.nombre);
                  determinacionesCheckboxes.append(checkbox);
                  determinacionesCheckboxes.append(label);
                });
              },
              error: function(error) {
                console.error('Error al cargar las determinaciones: ' + error);
              }
            });
          });

      p
        | Valores de Referencia:
      p 
        | sexo 
        select(name='sexo')
          option(value='', selected='selected') Selecciona un sexo
          option(value='1') Masculino
          option(value='2') Femenino
          option(value='3') No binario  
     

     
      p 
        | Edad_min
        select(name='edad_min')
          option(value='', selected='selected') Selecciona una edad
          - for (let i = 1; i <= 120; i++)
            option(value=i) #{i}

      p 
        | Edad_max
        select(name='edad_max')
          option(value='', selected='selected') Selecciona una edad
          - for (let i = 1; i <= 120; i++)
            option(value=i) #{i}
      p
        | valor mínimo
        input(type='text', name='minimo', placeholder='Ingrese el valor mínimo')
      p
        | valor máximo
        input(type='text', name='maximo', placeholder='Ingrese el valor máximo')
      
      p
        | Muestras requeridas:
        div#muestras-requeridas-checkboxes
        script.
          $(document).ready(function() {
            $.ajax({
              url: '/rutaExamenes/muestrasRequeridas',
              method: 'GET',
              dataType: 'json',
              success: function(data) {
                console.log(data);
                // Crea checkboxes para cada muestra requerida
                const muestrasRequeridasCheckboxes = $('#muestras-requeridas-checkboxes');
                data.forEach(function(muestra) {
                  const checkbox = $('<input>').attr({
                    type: 'checkbox',
                    name: 'muestras_requeridas',
                    value: muestra.id_tipo_muestra, // Usamos el ID de la muestra requerida
                  });
                  const label = $('<label>').text(muestra.valor); // Mostramos el nombre de la muestra
                  muestrasRequeridasCheckboxes.append(checkbox);
                  muestrasRequeridasCheckboxes.append(label);
                });
              },
              error: function(error) {
                console.error('Error al cargar las muestras requeridas: ' + error);
              }
            });
          });

     
      button(type='submit') Crear



      






    footer#footer
      p Rivadavia 548, San Luis, Argentina
      p Teléfono: 266 4000000
      p Email: labwm@gmail.com
      p &copy; 2023 TreeLabWM
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(src='/javascripts/lab.js')
