//layout.pug
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TreeLabWM
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")

  body
    #cabecera
      img(src="/images/banner.png", alt="Logo del laboratorio")

    #botones
      button#botonAgregarPaciente.custom-button Agregar Paciente
      button#botonBuscarPaciente.custom-button Buscar Paciente
      button.custom-button Orden de Trabajo
      button#botonInicio.custom-button Inicio
      button.custom-button Salir

    block content

    #footer
      p Rivadavia 548, San Luis, Argentina
      p Teléfono: 266 4000000
      p Email: labwm@gmail.com
      p © 2023 TreeLabWM

    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src='/javascripts/lab.js')
