doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title muestra
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
    
  body
    #cabecera
      img(src='/images/banner.png', alt='Logo del laboratorio')
    #botones
      button#botonInicio.custom-button Inicio
      button#botonBuscarPaciente.custom-button Buscar Paciente
      button#botonAgregarPaciente.custom-button Agregar Paciente
      button#botonAgregarOrden.custom-button Agregar Orden    
      button#botonBuscarOrden.custom-button Buscar Orden
      button#botonExamenes.custom-button Examenes
      button#botonSalir.custom-button Salir
    
    #contenedorformularioMuestra
        .fila 
          .columna
            h1 Nueva Muestra
        form#formularioMuestra(style='display: block;', action='/rutaMuestra/agregar/', method='POST')
          .fila 
            .columna
              p.imprimir
                | Id Muestra: 
                input(type="text"  id="idMuestraInput" class="imprimir" readonly)
            .columna
              p.imprimir
                | Orden:
                input(type="text" name="id_orden" class="imprimir" id="idOrdenInput" readonly )
          .fila 
            .columna
              p.imprimir
                | Fecha de Recoleccion: 
                input(type="date" name="fecha_recoleccion" class="imprimir" required)
            .columna
              p.imprimir
                | Hora de Recoleccion:
                input(type="time" name="hora_recoleccion" class="imprimir" required)
          .fila 
            .columna
              p
                | Tipo de Muestra:
                select(name="id_tipo_muestra" id="tipoMuestraSelect")
            .columna
              p
                | Precedencia:
                select(name="precedencia" required)
                  option(value="Local") Local
                  option(value="Externa") Externa 
          .fila 
            .columna
              button#botonAgregarMuestra(type="submit") Guardar
            .columna 
              button#botonImprimir(type="button" style="display: none") Imprimir
            .columna 
              button#botonVolver(type="button" style="display: none") Volver


    footer#footer
      p Rivadavia 548, San Luis, Argentina
      p Teléfono: 266 4000000
      p Email: labwm@gmail.com
      p &copy; 2023 TreeLabWM

script.
  $(document).ready(function() {
    const urlParams = new URLSearchParams(window.location.search);
    const idOrden = urlParams.get('id');
    $('#idOrdenInput').val(idOrden);
    $.ajax({
      url: '/rutaMuestra/buscarMuestra',
      method: 'GET',
      dataType: 'json',
      success: function(data) {
        $.each(data, function(muestra, tipo_muestra) {
          $('#tipoMuestraSelect').append($('<option>', {
            value: tipo_muestra.id_tipo_muestra, 
            text: tipo_muestra.valor
          }));
        });
      },
      error: function(error) {
        console.error('Error al cargar los tipos de muestra: ' + error);
      }
    });
    });
    $('#formularioMuestra').submit(function(e) {
      e.preventDefault(); 
      var formData = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: '/rutaMuestra/agregar',
        data: formData,
        success: function(response) {
          if (response.id_muestra) {
            $('#idMuestraInput').val(response.id_muestra); 
            Swal.fire('Muestra creada con éxito');
            $('#botonImprimir').show();
            $('#botonVolver').show();
          }
        },
        error: function(error) {
          console.error('Error al crear la muestra:', error);
        }
    });
  });
  $('#botonImprimir').click(function() {
      window.print();
  });
  $('#botonVolver').click(function() {
      window.close();
  });
